<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ransomware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Ransomware.Properties.Settings>
            <setting name="Time_Of_Ransom" serializeAs="String">
                <value />
            </setting>
            <setting name="Date_Of_Ransom" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeLeft1" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeLeft2" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Date_And_Time_Of_Ransom" serializeAs="String">
                <value />
            </setting>
            <setting name="DateEnd1" serializeAs="String">
                <value />
            </setting>
            <setting name="DateEnd2" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
        </Ransomware.Properties.Settings>
    </userSettings>
</configuration>